{% extends "baseDoc.html" %}

{% block title %} 
Return - Grocery
{% endblock %}


{% block body %}

        <script>
            var passedParams = '{{ params }}'
            console.log(passedParams)

            if (passedParams === '0') {
                alert('Wrong Username')
            }
            else if (passedParams === '1') {
                alert('Wrong Password')
            }
            else if (passedParams === '2') {
                alert('Wrong Credentials')
            }
        </script>

    <div class="doc">
        <h1>Return Policy</h1>

        <div class="section">
            <h2>Introduction</h2>
            <p>Welcome to the Grocery App Return Policy. This policy outlines the conditions under which you may return
                items purchased from our app.</p>
        </div>
    
        <div class="section">
            <h2>Eligibility for Returns</h2>
            <p>To be eligible for a return, the item must meet the following criteria:</p>
            <ul>
                <li>The item must be unused and in the same condition as when you received it.</li>
                <li>The item must be in its original packaging.</li>
                <li>The item must be returned within 7-10 days of the purchase.</li>
            </ul>
        </div>
    
        <div class="section">
            <h2>Returns Process</h2>
            <p>To initiate a return, please follow these steps:</p>
            <ol>
                <li>Contact our customer support team at [email address/phone number] to request a return.</li>
                <li>Provide the order number and details of the item you wish to return.</li>
                <li>Our team will guide you through the rest of the return process.</li>
            </ol>
        </div>
    
        <div class="section">
            <h2>Refunds</h2>
            <p>Once your return is received and inspected, we will send you an email to notify you that we have received
                your returned item. We will also notify you of the approval or rejection of your refund.</p>
        </div>
    
        <div class="section">
            <h2>Contact Us</h2>
            <p>If you have any questions or concerns about this Return Policy, please contact us at
                <a href="mailto:1roshanekka@gmail.com">1roshanekka@gmail.com</a></p>
        </div>
    </div>

    <br>
    <div class="back-button">
        <a href="/">Back to Home</a>
    </div>
        <!-- <script>
        document.write(passedParams);
    </script> -->

{% endblock %}


