{% extends "baseDoc.html" %}

{% block title %} 
Warranty - Grocery
{% endblock %}


{% block body %}

        <script>
            var passedParams = '{{ params }}'
            console.log(passedParams)

            if (passedParams === '0') {
                alert('Wrong Username')
            }
            else if (passedParams === '1') {
                alert('Wrong Password')
            }
            else if (passedParams === '2') {
                alert('Wrong Credentials')
            }
        </script>

    <div class="doc">
        <h1>Warranty Information</h1>

        <div class="section">
            <h2>Introduction</h2>
            <p>Welcome to the Grocery App Warranty Information. This page outlines the warranty terms for items purchased
                from our app.</p>
        </div>
    
        <div class="section">
            <h2>Warranty Coverage</h2>
            <p>All items purchased from our app come with a standard [number]-day warranty from the date of purchase. This
                warranty covers manufacturing defects and faulty workmanship.</p>
        </div>
    
        <div class="section">
            <h2>Exclusions</h2>
            <p>The warranty does not cover the following:</p>
            <ul>
                <li>Damage caused by accident, misuse, or neglect.</li>
                <li>Normal wear and tear of the item.</li>
                <li>Items with removed or altered serial numbers.</li>
                <li>Damage resulting from unauthorized repairs or modifications.</li>
            </ul>
        </div>
    
        <div class="section">
            <h2>Claim Process</h2>
            <p>If you believe your item is covered by the warranty, please follow these steps:</p>
            <ol>
                <li>Contact our customer support team at <a href="mailto:1roshanekka@gmail.com">1roshanekka@gmail.com</a> to initiate a warranty claim.</li>
                <li>Provide the order number and details of the item along with a description of the issue.</li>
                <li>Our team will guide you through the rest of the warranty claim process.</li>
            </ol>
        </div>
    
        <div class="section">
            <h2>Contact Us</h2>
            <p>If you have any questions or concerns about this Warranty Information, please contact us at
                <a href="mailto:1roshanekka@gmail.com">1roshanekka@gmail.com</a></p>
        </div>
    </div>

    <br>
    <div class="back-button">
        <a href="/">Back to Home</a>
    </div>
        <!-- <script>
        document.write(passedParams);
    </script> -->

{% endblock %}


