* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
	
}

.body {
	background-color: #000000;
	color: white;
}

.main-body {
	margin: 0px 40px;
}

.navigation:before {
	height: 60px;
	left: 0;
	bottom: 0;

	z-index: -1;

	filter: blur(1.5rem);
	background-color: black;
	border: 2px solid red;
}
.blurred{
	position: fixed;


	height: 60px;
	width: 100%;
	/* filter: blur(12px); */
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	/* background-color: green;
	opacity: 0.2; */

	background-color: rgba(26, 28, 36, 0.5);
	/* background-color: rgba(15, 28, 101, 0.5); */

	z-index: -1;
}
.navigation {
	display: flex;
	justify-content: space-between;

	height: 60px;
	align-items: center;

    align-content: center;
    font-size: 30px;
    /* background-color: #FACBEA; */
    left: 0;
	bottom: 0;
	width: 100%;
    position: -webkit-sticky; /* Safari */
    
    position: sticky;
    top: 0; /* sticks to top of the page */

	z-index: 2;
    /* padding-bottom: 20px; */
    
}

.navigation-right {
	display: flex;
	justify-content: space-around;
	height: 60px;
	align-items: center;

}
.displayName-dynamic {
	font-size: 18px;
	margin-left: 40px;
	padding-right: 40px;
}

.bar {
	margin-left: 20px;
	font-weight: 700;
	color: white;
	/* !! adds bold */
}

.navMenu {
	margin-right: 30px;
	margin-top: 5px;
}

.navMenuList {
	font-size: 16px;
	text-decoration: none;

}


.flexbox-adminpanel {
	display: flex;
	/* justify-content: space-around; */
	background-color: ;
	justify-content: center;

	column-gap: 200px;
	
}

.admin-tools {
	width: 15rem;
	/* text-align: center; */

	color: white;

	border: none;
	border-radius: 20px;
	/* border: 1px solid rebeccapurple; */
	background-color: rgba(26, 28, 36, 1);

	padding: 50px;
	font-size: 20px;
	/* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
	/* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dashboard{
	padding: 400px;
}
.dashboard-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 3;

	justify-content: flex;
	
	height: auto;
	
	column-gap: 20px;
	row-gap: 20px;
	/* background-color: antiquewhite; */

}
.dashboard-flex-items {
	padding: 20px;

	width: auto;
	height: 100px;
	margin: 5px;
	text-align: center;
	/* align-self: center; */

	flex: 1 0 20%;
	
	/* !!flex-grow: 1: Allows the boxes to grow and fill any available space.
	!! flex-shrink: 0: Prevents the boxes from shrinking if there's not enough space.
	!! flex-basis: 22%: Sets an initial width of approximately 22% of the container's width for each box */
	/* flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto; */
	
	background-color: antiquewhite;
	border: 2px solid rebeccapurple;
	border-radius: 15px;
	align-items: end;
	justify-content: center;
}

.interface {
	/* position: fixed; */
	/* background-color: aqua; */
	/* padding-bottom: 2000px; */
	/* padding: 200px; */
	
}
.addStock {
	
	/* align-items: center; */
	/* align-content: center; */
	/* background-color: white; */
	background-color: antiquewhite;
	border: none;
	/* background-color: #006ee6; */
	border-radius: 50%;
	
	/* width: 100px; */
}

.addItem {
	border: none;
	/* border: 50%; */
	cursor: pointer;
}
.ss {
	display: flex;
	align-content: center;
	position: fixed; 
	top: 75%;
	right: 10%;
	background-color: white;
	border-radius: 50%;
	/* relative ?? */
	/* margin-top: 30%; */
	/* background-color: red; */
	/* display: inline-block; */
	/* padding: 10px 20px; */
	/* padding: 0px 15px 5px 14px; */
	font-size: 40px;

	/* border: 5px solid black; */

	/* height: 25%;
	width: 25%; */

	/* z-index: 3000; */
	/* transform: rotate(45deg); */
	transition: transform 0.1s;
}
.getInside {
	/* color: black; */
	/* top: 50%;
	left: 50%;
	width: 100%;
	height: 100%; */
	border: none;
	height: 50px;
	width: 50px;
	border: 50%;
	text-align: center;
}



/* --------------------------------------------------------------- */
.butt {
	align-content: center;
	background-color: #FFBFBF;
	/* margin: 10px 50px 0px 50px;  */
	/* pasted code */
	
	 /* position: fixed;  */

	/* fixed should be used for top bar */
	left: 0;
	bottom: 0;
	width: 100%;
}
.formContent {
	margin-left: 10%;
}

.CRUDbuttons {
	letter-spacing: 0.100em;
}
.login {
	background-color: #006ee6;
	padding: 10px 30px;
	/* border-radius: 10px; */
	border: none;
	border-radius: 20px;
	color: white;
	transition-duration: 10ms;
	margin-left: 45%;
	align-items: center;



}

.login:hover {
	background-color: #006ee6;
	opacity: 0.9;
}
.edit {
	display: inline;

	letter-spacing: 0.100em;
	background-color: #419197;
	
	padding: 10px 30px;
	border-radius: 50px;
	border: none;

	color: white;
	transition-duration: 10ms;

	align-items: center;




}

.edit:hover {
	background-color: #006ee6;
	/* background-color: #419197; */
	opacity: 0.9;
}


.delete {
	display: inline;

	letter-spacing: 0.100em;
	background-color: #419197;
	padding: 10px 30px;
	/* border-radius: 10px; */

	border-radius: 50px;
	border: none;
	
	/* border-radius: 8px; */
	color: white;
	transition-duration: 10ms;

	margin-left: 20px;
	align-items: center;



}

.delete:hover {
	background-color: #C70000;
	opacity: 0.9;
}
.placeholder {
	margin-left: 5px;
}



/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
	
	background-color: #F4F2DE;
	margin: 10% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
  }

.modalInside {
	display: flex;
}
.modalForm{
	letter-spacing: 0.100em;
}
/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.foot {
	padding: 0.3%;
	text-align: center;
	/* margin: 0px 0px 0px 10px; */
}

#clickable {
	cursor: pointer;
}

.vroom {
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -moz-transform: rotate(45deg);   /* Firefox */
    -ms-transform: rotate(45deg);   /* IE 9 */
    -o-transform: rotate(45deg);   /* Opera */
    transform: rotate(45deg);

} 


/* link which user has not visited */
a:link{ 
	color: gray;
	text-decoration: none;
}
/* link which user has visited */
a:visited{
	color: gray;
	text-decoration: none;
}
.drop-button {
	border: none;
	/* border: 3px solid green; */
	/* padding: 10px; */
	/* background-color: red; */

}

.dropdown-list {
	
	align-items: end;
	/* visibility: hidden; */
	display: none;
	position: relative;
	background-color: blueviolet;
	z-index: 1;

	border: 4px solid black;
}
.dropdown-list.ul {
	display: block;
	
}

.dropdown-list.a {
	background-color: aqua;
	display: block;
	width: 50%;
}

.show {
	/* visibility: visible; */
	display: block;
	padding: 30px;
	float: left;

	
}

.list-div {
	border: 2px solid red;
	width: 50%;
	padding: auto;
}

.space {
	padding: 70px;
}
.appearance {
	/* margin: 0px 0px 0px 700px;  instead of this we can do flex with right */

	border: 1.5px solid #006ee6;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	column-gap: 1px;

	/* justify-content: flex-end; */
	/* padding: 3px; imp */
	padding: 2px;
	align-content: center;
	font-size: 12px;
	/* alter this for dark */
}
.light	{
	border: none;
	/* background-color: #006ee6; */
	border-radius: 20px;
	padding: 2px 7px;
	border-width: 100%;
	color: white;
}
.dark {
	/* padding: 2px; */
	border: none;
	background-color: #006ee6;
	border-radius: 20px;
	padding: 2px 5px;
	color: white;
}
.darkButton {
	border: none;
	/* background-color: #006ee6; */
	border-radius: 20px;
	/* padding: 2px 5px; */
}


input[type=text] {
	border: none;
	border-radius: 5px; 
	padding: 7px 7px;
	width: 50%;
	font-size: 15px;
	font-family: sans-serif;
    letter-spacing: 0.100em;
}
input[type=text]:focus {
	border: none;
	/* border-radius: 5px; */
	font-family: sans-serif;
    /* letter-spacing: 0.125em; */
}
#item {
	text-align: left;
}


.insideContainer {
	display: flex;
	flex-direction: column;

	justify-content: space-around;
	row-gap: 25px;

	align-items: center;
}

.canvas {
	display: flex;
	flex-direction: column;
	row-gap: 20px	;
}

.section {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-between; */



	padding: 20px;
	/* background-color: #419197 ; */
	background-color: rgba(26, 28, 36, 0.5);
}

.section-item {
	display: flex;
	flex-direction: row;

	font-size: 1.2rem;

	justify-content: space-between;
	padding: 10px
	align-items: center;


	/* border: 2px solid black; */

}

.section-view {
	display: none;
	background-color: white;
	/* padding: 50px; */
	padding: auto;

	font-size: 1.4rem;
	font-weight: bolder;
	flex-direction: row;
	flex-wrap: wrap;
	order: 3;

	justify-content: center;
	
	height: auto;
	
	column-gap: 20px;
	row-gap: 20px;
}

.section-view-hidden {
	display: flex;
	
	/* padding: 50px; */

}

.section-toggle {
	/* border: 2px solid red; */

}

.itemName {
	/* border: 2px solid purple; */
	/* padding: 10px; */
}


.tools {
	margin: 0px 100px 0px 100px;
	padding: 0px 0px 0px 0px;
	display: flex;
	justify-content: flex-end;
}