* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
	
}

.body {
	background-color: #FFFFFF;
}

.main-body {
	margin: 0px 40px;
}

.add {
	/* text-align: center;
	align-content: center; */
}
.navigation:before {
	height: 60px;
	left: 0;
	bottom: 0;

	z-index: -1;

	filter: blur(1.5rem);
	background-color: black;
	border: 2px solid red;
}
.blurred{
	position: fixed;


	height: 60px;
	width: 100%;
	/* filter: blur(12px); */
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	/* background-color: green;
	opacity: 0.2; */
	background-color: rgba(215, 192, 174, 0.5);

	z-index: -1;
}
.navigation {
	display: flex;
	justify-content: space-between;

	height: 60px;
	align-items: center;

    align-content: center;
    font-size: 30px;
    /* background-color: #FACBEA; */
    left: 0;
	bottom: 0;
	width: 100%;
    position: -webkit-sticky; /* Safari */
    
    position: sticky;
    top: 0; /* sticks to top of the page */

	z-index: 2;
    /* padding-bottom: 20px; */
    
}

.navigation-right {
	display: flex;
	justify-content: space-around;
	height: 60px;
	align-items: center;

}
.displayName-dynamic {
	font-size: 18px;
	margin-left: 40px;
	padding-right: 40px;
}

.bar {
	margin-left: 20px;
	font-weight: 700;
	/* !! adds bold */
}

.navMenu {
	margin-right: 30px;
	margin-top: 5px;
}

.navMenuList {
	font-size: 16px;
	text-decoration: none;

}


.flexbox-adminpanel {
	display: flex;
	/* justify-content: space-around; */
	justify-content: center;

	column-gap: 200px;
	
}

.admin-tools {
	width: 15rem;
	/* text-align: center; */

	color: white;

	border: none;
	border-radius: 20px;
	/* border: 1px solid rebeccapurple; */
	background-color: #419197;
	padding: 50px;
	font-size: 20px;
	/* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
	/* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dashboard {
	padding: 400px;
	/* background-color: antiquewhite; */

}

.interface {
	/* position: fixed; */
	background-color: aqua;
	/* padding-bottom: 2000px; */
	padding: 200px;
	
}
.ss {

	position: fixed; 
	top: 75%;
	right: 10%;
	/* relative ?? */
	/* margin-top: 30%; */
	background-color: red;
	/* display: inline-block; */
	/* padding: 10px 20px; */
	padding: 0px 15px 5px 14px;
	font-size: 40px;
	color: white;
	/* border: none; */

	/* border: 5px solid black; */
	border-radius: 50%;
	/* height: 25%;
	width: 25%; */

	/* z-index: 3000; */
	/* transform: rotate(45deg); */
	transition: transform 0.1s;
}
.getInside {
	/* color: black; */
	/* top: 50%;
	left: 50%;
	width: 100%;
	height: 100%; */
	text-align: center;
}



/* --------------------------------------------------------------- */
.butt {
	align-content: center;
	background-color: #79AC78;
	/* margin: 10px 50px 0px 50px;  */
	/* pasted code */
	
	 /* position: fixed;  */

	/* fixed should be used for top bar */
	left: 0;
	bottom: 0;
	width: 100%;
}


.foot {
	padding: 0.3%;
	text-align: center;
	/* margin: 0px 0px 0px 10px; */
}

#clickable {
	cursor: pointer;
}

.vroom {
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -moz-transform: rotate(45deg);   /* Firefox */
    -ms-transform: rotate(45deg);   /* IE 9 */
    -o-transform: rotate(45deg);   /* Opera */
    transform: rotate(45deg);

} 


/* link which user has not visited */
a:link{ 
	color: gray;
	text-decoration: none;
}
/* link which user has visited */
a:visited{
	color: gray;
	text-decoration: none;
}
.drop-button {
	border: none;
	/* border: 3px solid green; */
	/* padding: 10px; */
	/* background-color: red; */

}

.dropdown-list {
	
	align-items: end;
	/* visibility: hidden; */
	display: none;
	position: relative;
	background-color: blueviolet;
	z-index: 1;

	border: 4px solid black;
}
.dropdown-list.ul {
	display: block;
	
}

.dropdown-list.a {
	background-color: aqua;
	display: block;
	width: 50%;
}

.show {
	/* visibility: visible; */
	display: block;
	padding: 30px;
	float: left;

	
}

.list-div {
	border: 2px solid red;
	width: 50%;
	padding: auto;
}

.space {
	padding: 70px;
}
.appearance {
	/* margin: 0px 0px 0px 700px;  instead of this we can do flex with right */

	border: 1.5px solid #006ee6;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	column-gap: 1px;

	/* justify-content: flex-end; */
	/* padding: 3px; imp */
	padding: 2px;
	align-content: center;
	font-size: 12px;
	/* alter this for dark */
}
.light	{
	border: none;
	background-color: #006ee6;
	border-radius: 20px;
	padding: 2px 7px;
	border-width: 100%;
	color: white;
}
.dark {
	/* padding: 2px; */
	border: none;
	/* background-color: #006ee6; */
	border-radius: 20px;
	padding: 2px 5px;
	color: #006ee6;
}
