* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* display: grid; */
	color: white;
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	/* font-family: sans-serif; */
}

#clickable {
	cursor: pointer;
}

input[type=email] {
	border: none;
	border-radius: 5px; 
	padding: 7px 7px;
	width: 40%;
	font-size: 15px;
}
input[type=email]:focus {
	border: none;
	border-radius: 5px;
}

input[type=password] {
	border: none;
	border-radius: 5px; 
	padding: 7px 7px;
	width: 40%;
	font-size: 15px;
	font-family: 'San Francisco', Arial, sans-serif;
    letter-spacing: 0.125em;
}
input[type=password]:focus {
	border: none;
	/* border-radius: 5px; */
	font-family: 'San Francisco', Arial, sans-serif;
    letter-spacing: 0.125em;
}

input[type=search] {
	padding: 10px 10px;
}
.body {
	/* font-family: 'Young Serif', sans-serif; */
	background-image: url(/static/assets/1.jpg);
	/* background-image: url(/static/assets/2.jpeg); */
	background-size: 130% ;
	background-repeat: no-repeat;
	background-color: #210012;

}
.override-background {
    background-image: url(/static/assets/doc8.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #022335;

}
#mainpage {
	background-image: url(/static/assets/3.jpg);
}

#body {
	background-image: url(/static/assets/b.jpg);
	background-size: 120% auto;
	background-repeat: no-repeat;
	background-color: #020200;
	
}

.parent {
	/* background-color: silver; */
	/* background-image: url(assets/bg.png);	 */
	/* background-size: auto; */


	display: flex;
	flex-direction: column;
	justify-content: center;

	font-size: 1500;
	align-content: center;

	/* border: 10px solid red; */
	border-radius: 25px;

	margin: 0px 180px 0px 180px;

	padding: 0px 150px 40px 150px;
	padding-top: 50px;
}

#parent {
	padding: 0px 50px 40px 50px;

}
.logo > a{

}
.logo{
	z-index: 2;
	position: relative;
}

.imageLogo {
	/* margin-left: 50px; */
	/* background-color: #4b0ce0; */
}
#imageLogo{
	z-index: -1;
	display: absolute;
	background-color: #4b0ce0;

}
.name{
	font-size: 30px;
	font-weight: 900;
}

.nav {
	/* background-color: #FE451C; */
	font-family: 'Young Serif', sans-serif;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	

	/* padding: 12px; */
	/* background-color: #FFFEFC	; */

	height: 70px;
	padding: 0px 20px;
	align-items: center;
	font-size: 18px;
	/* display: inline; */
}
.nav-1 {
	display: flex;
	flex-direction: column;
}
.col{
	position: relative;
	z-index: -1;
	height: 50px;
	background-color: #4b0ce0;
}
.content {
	/* padding: 300px; */
	/* background-image: url(/static/assets/1.jpg); */
	/* background-color: #FE451C; */
	background-repeat: no-repeat	;
    background-position: center; 
	/* height: 1000px; */
	
}
.filler {
	background-color: #FE451C;
	background-size: cover; /* This property ensures the image covers the entire div */
    background-position: center; /* This property centers the image within the div */
    width: 100%; /* Set the width and height of your div */
    height: 100px;
}
.intro {
	z-index: 9;
	position: absolute;
	color: #4b0ce0;
	width: 800px;
	margin: 0px 200px 0px 180px;
	font-weight: 800;
	font-size: 30px;
}
.menuIcons {
	padding: 10px;
	margin-left: auto;
	margin-right: 0px;
}
.top1 {

	justify-content: center;
	background-color: #1A120B;
	color: white;

	border-width: 5px;
	border-style: ridge;
    opacity: 0.9;
	font-size: 1500;
	/* align-content: center; */

	/* border: 10px solid blue; */
	border-radius: 5px;

	/* margin: 0px 180px 10px 180px;  */

	/* backdrop-filter: blur(100px); */
	/* margin: auto; */
	
	/* padding: 50px 50px 50px 200px; */

}
.middle {
	/* align-content: center; */
	
	text-align: center;
}


.login {
	/* margin: auto; */
	font-size: 15px;
}
h1 {
	color: white;
	align-content: center;
}
h2 {
	color: white;
	align-content: center;
}
h4{
	color: white;
}
.login1 {
	padding: 10px;
}

.login {
	background-color: #006ee6;
	padding: 10px 30px;
	/* border-radius: 10px; */
	border: none;
	border-radius: 20px;
	color: white;
	transition-duration: 10ms;


}

.login:hover {
	background-color: #006ee6;
	opacity: 0.9;
}

/*
.main {
	padding: 50px 50px 50px 50px;
	text-align: center;
}
*/

.main-body{
	/* color: white; */
}

.profileIcon {
	padding: 10px;
}
.stick {
	display: block;
	padding-bottom: 10px;
}

.email {
	padding: 10px 0px;
}

.separator {
	/* align-content: center; */
	font: 40px;
	text-align: center;
	color: white;
	/* margin: 50px 50px 50px 50px; */
	/* background-color: aqua; */
}



/* login oauth buttons */

.oauth-flex {
	display: flex;
	flex-direction: row;
	/* display: grid; */
	column-gap: 20px;
	flex-wrap: wrap;
	padding: 10px 0px;
	/* background-color: violet; */
	/* margin: 10px 500px 10px 500px;  */

	/* border: solid blue; */
	/* border-radius: 25px; */


	/* align-content: center; */
	/* this has been depricated */

	/* justify-content: space-evenly; */
	justify-content: center;

	/* #SEEEE */
}

.google {
	/* padding: 10px 10px 10px 10px; */
	/* border-radius: 10%; */
	/* margin-right: 20px; */
	color: white;
	/* padding: 7px 7px 1px 7px; */
	border: none;
	border-radius: 100%;
	/* background-color: orange; */

	opacity: 0.75;
	padding: 10px;
	border-radius: 50%;
	transition-duration: 0.2s;
	/* transition-duration: 0.2s; */
}
.google:hover{
	/* padding: 10px 10px; */
	opacity: 1;
	border: none;

}


.microsoft {
	/* border-radius: 10%; */
	/* margin-right: 20px; */
	border: none;
	color: white;
	/* background-color: orange; */
	opacity: 0.75;
	padding: 10px;
	border-radius: 100%;
	transition-duration: 0.2s;
}
.microsoft:hover{

	opacity: 1;
	border: none;

}


.apple {
	/* border-radius: 10%; */
	/* margin-right: 20px; */
	border: none;
	color: white;
	/* background-color: orange; */
	opacity: 0.75;
	/* padding: 7px 7px 5px 7px; */
	padding: 10px;
	border-radius: 100%;
	transition-duration: 0.2s;
}
.apple:hover{

	opacity: 1;
	border: none;
	border-radius: 50%;

}

.lorem {
	columns: 3;
	column-gap: 40px;
	/* column-rule-width: 2px;
	column-rule-style: solid;
	column-rule-color: black; */

	column-rule: 2px solid black;
}

.submit {
	display: flex;
	justify-content: center;
	column-gap: 20px;
}
.update{
	cursor: pointer;
	background-color: white;
	color: #006ee6;
	border: none;
	border-radius: 10px;
	padding: 5px;
}
.delete{
	cursor: pointer;
	background-color: white;
	color: red;
	border: none;
	border-radius: 10px;
	padding: 5px;
}
.update:hover{
	background-color: #006ee6;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 5px;
}
.delete:hover{
	background-color: red;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 5px;
}

.tools {
	margin: 0px 100px 0px 100px;
	padding: 0px 0px 0px 0px;
	display: flex;
	justify-content: flex-end;
}
.appearance {
	/* margin: 0px 0px 0px 700px;  instead of this we can do flex with right */

	border: 1.5px solid #006ee6;
	border-radius: 20px;
	display: flex;
	flex-direction: row;

	column-gap: 1px;

	/* justify-content: flex-end; */
	/* padding: 3px; imp */
	padding: 2px;
	align-content: center;
	font-size: 12px;
	/* alter this for dark */
}

.light	{
	font-family: sans-serif;

	border: none;
	/* background-color: #006ee6; */
	border-radius: 20px;
	padding: 2px 7px;
	border-width: 100%;
	color: #006ee6;
}
.data {
	display: flex;
	justify-content: center;
	align-content: center;
}
table.table-1 tr,td,th {
	border: 1px solid white;
	padding: 2px 5px 0px 0px;
	align-content: center;
}
/* its a slider not a button */

.lightButton {
	border: none;
	background-color: #006ee6;
	border-radius: 20px;
	/* padding: 2px 5px; */
}

.dark {
	font-family: sans-serif;

	/* padding: 2px; */
	border: none;
	background-color: #006ee6;
	border-radius: 20px;
	padding: 2px 5px;
	color: white;
}
.darkButton {
	border: none;
	/* background-color: #006ee6; */
	border-radius: 20px;
	/* padding: 2px 5px; */
}

#sep {
	margin: 0px 100px 0px 100px;
	padding-top: 5px;
	/* padding: 40px 0px 40px 0px; */
}
.footSeparator{
	font-family: 'Young Serif', sans-serif;
	margin-bottom: 20px;
	
}
.footLinks {
	margin: 0px 100px 0px 100px;
	padding: 40px 0px 0px 0px;

	display: flex;
}
.quicklinks {
	
	margin-bottom: 100px;
	text-decoration: none;
}
/* foot */
.links {
	padding: 10px;
}

/* link which user has not visited */
a:link{ 
	color: gray;
	text-decoration: none;
}
/* link which user has visited */
a:visited{
	color: gray;
	text-decoration: none;
}
table.links {
	width: 100%;

}
table.links th, td {
	border: none;
	padding: 10px 50px 0px 50px;
}
/* 
th, td {
	padding: 2px 200px 0px 0px;
} */

.quicklinks-1{
	padding: 0px 20px;
}


.butt {
	align-content: center;
	background-color: #FFBFBF;
	/* margin: 10px 50px 0px 50px;  */
	/* pasted code */
	
	 /* position: fixed;  */

	/* fixed should be used for top bar */
	left: 0;
	bottom: 0;
	width: 100%;
}

.foot {
	padding: 0.3%;
	text-align: center;
	/* margin: 0px 0px 0px 10px; */
}


/* --------------------------------------------------------------- */

#actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	column-gap: 10px;
}

#empty1 {
	width: 100px;
}
.ref {
	display: flex;
	flex-direction: row;
	column-gap: 80px;
}

.ref-1 > a:link {
	text-decoration: none;
	color: black;
}
.ref-1> a:visited{
	color: black;
	text-decoration: none;
}
.ref-1 > a:hover{
	color: white;
}

.ref-2 > a:link {
	text-decoration: none;
	color: black;
}
.ref-2 > a:visited{
	color: black;
	text-decoration: none;
}
.ref-2 > a:hover{
	color: white;
}


.black {
	/* color: black; */
	/* background-color: #B2916C; */
}

.space {
	padding: 100px;
}

#index {
	font-family: 'Young Serif', sans-serif;
}
.bodyinside {
	font-family: sans-serif;
	/* font-family: 'San Francisco'; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    animation: fadeIn 2s ease-in-out;
}
