.override-background {
    background-image: url(/static/assets/doc2.jpg);
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
