{% extends "baseAdmin.html" %}

{% block title %} 
Admin Panel - Dashboard
{% endblock %}

{% block body %}
    <div class="add">
        <br>
        <br>

        <b>Options</b>
        <br>
        <hr>
        <br>

        <form action="/adminCockpit" method="GET">
            <div class="button">
                <!-- <input type="button" value="Get DataBase"/> --> 
                <!-- why the above is not working -->
                <div class="flexbox">
                    <button class="admin-tools">
                        DataBase
                    </button>
                    <button class="admin-tools">
                        Items on Sale
                    </button>
                    <button class="admin-tools">
                        Summary
                    </button>
                </div>
                
            </div>
        </form>

        <div class="dashboard">
            
        </div>

        
        
    </div>
{% endblock %}


