{% extends "baseAdmin.html" %}

{% block title %} 
Admin Panel
{% endblock %}

{% block body %}
    <div class="add">
        
        <h1>ADD</h1>
        Options
        <br>

        <hr><br>

        <form action="/adminCockpit" method="GET">
            <div class="button">
                <!-- <input type="button" value="Get DataBase"/> --> 
                <!-- why the above is not working -->
                <button>
                    DB
                </button>
            </div>
        </form>
        <div class="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae nostrum tenetur veniam asperiores rerum quidem, aliquam consectetur eveniet ea nisi saepe illum fugit obcaecati. Rem porro voluptates officia cupiditate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora dolore repellendus facere sed distinctio exercitationem eveniet ullam voluptatibus eum eius voluptatem dolor, perferendis delectus suscipit dignissimos repudiandae nam ipsam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officia non necessitatibus beatae repellat maxime quia praesentium, ipsa vel veniam eius hic minima vero, iusto ipsam maiores eos mollitia? Aut.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolor pariatur aut nobis ab esse, voluptatibus aperiam explicabo, neque officiis, blanditiis incidunt nostrum quia fugiat nulla tenetur repellendus ipsum vero?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus porro magnam minima impedit, est architecto quo. Eius rerum harum nam pariatur iusto amet officia, sequi inventore modi ipsa numquam?
        </div>
        <div class="add">
            <img src="/static/assets/box.png" alt="box" width="40px" height="40px" >

        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore praesentium harum perferendis laborum molestias dolorem aliquid temporibus enim facere vero omnis labore repellendus sit cum, quae sapiente at commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis libero debitis aspernatur, nesciunt reprehenderit, unde impedit a consequuntur vero, eligendi quidem tempore vel nulla odit consectetur et ut odio.
        <h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores, unde quasi repudiandae, illo sapiente cum animi nulla iusto quos illum labore expedita, obcaecati quod! Iure odit facilis earum minima!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, voluptatem! Consequatur ex, obcaecati voluptates quia, accusamus aliquam quos ipsa temporibus animi sequi iste sunt quis nihil, architecto placeat deleniti assumenda.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ducimus fugit deserunt illo incidunt quod officia est sapiente corrupti animi mollitia non illum nisi aut, repellendus assumenda suscipit totam porro!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptates quia rem exercitationem, at commodi odit harum quidem doloremque quam, qui quasi amet necessitatibus corrupti fugit illo atque ullam quos!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta culpa animi enim, commodi consectetur quos delectus accusamus iure repudiandae modi quidem esse necessitatibus tenetur ipsum pariatur unde nihil at.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut vel quibusdam blanditiis odio, sit quidem ut libero placeat ratione ab impedit deserunt, perspiciatis culpa eius pariatur eligendi mollitia explicabo adipisci?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, consequuntur fuga eius cupiditate voluptatum, esse iure voluptas incidunt officia deserunt sit, nihil tempora asperiores temporibus aspernatur porro eveniet placeat quas.
        </h1>

    </div>
{% endblock %}


