{% extends "baseAdmin.html" %}

{% block title %} 
Admin Panel
{% endblock %}

{% block body %}

    <style>
        .add {
            position: absolute;
            align-content: center;            
        }
    </style>
    <div class="add">
        
        <h1>ADD</h1>
        Options
        <br>

        <hr><br>

        <form action="/adminCockpit" method="GET">
            <div class="button">
                <!-- <input type="button" value="Get DataBase"/> --> 
                <!-- why the above is not working -->
                <button>
                    DB
                </button>
            </div>
        </form>
        <div class="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repudiandae nostrum tenetur veniam asperiores rerum quidem, aliquam consectetur eveniet ea nisi saepe illum fugit obcaecati. Rem porro voluptates officia cupiditate!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora dolore repellendus facere sed distinctio exercitationem eveniet ullam voluptatibus eum eius voluptatem dolor, perferendis delectus suscipit dignissimos repudiandae nam ipsam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis officia non necessitatibus beatae repellat maxime quia praesentium, ipsa vel veniam eius hic minima vero, iusto ipsam maiores eos mollitia? Aut.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum dolor pariatur aut nobis ab esse, voluptatibus aperiam explicabo, neque officiis, blanditiis incidunt nostrum quia fugiat nulla tenetur repellendus ipsum vero?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt minus porro magnam minima impedit, est architecto quo. Eius rerum harum nam pariatur iusto amet officia, sequi inventore modi ipsa numquam?
        </div>
        <div class="add">
            <img src="/static/assets/box.png" alt="box" width="40px" height="40px" >

        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, inventore praesentium harum perferendis laborum molestias dolorem aliquid temporibus enim facere vero omnis labore repellendus sit cum, quae sapiente at commodi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus blanditiis libero debitis aspernatur, nesciunt reprehenderit, unde impedit a consequuntur vero, eligendi quidem tempore vel nulla odit consectetur et ut odio.


    </div>
{% endblock %}


