<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <!-- <link rel="stylesheet" href="/static/adminLight.css"> -->
    <link href="{{ url_for( 'static', filename='adminLight.css') }}" rel="stylesheet" id="view">
</head>

<body class="body">
    
    <script src="{{ url_for ('static', filename='adminApp.js') }}"></script>

    <nav class="navigation">   
        <div class="bar">
            The Broken Studios
        </div>
        <div class="navigation-right">
            <div class="displayName-dynamic">
                Welcome {{ user }}
            </div>
            <div class="navMenu">
                <div class="navMenuList">

                    <!-- <button onclick="navMenu_js()" class="drop-button" id="clickable">
                        <img src="{{ url_for ('static', filename='assets/profileIcon.png') }}" onclick="navMenu_js()" alt="profile" width="30px" >
                    </button> -->
                    <img src="{{ url_for ('static', filename='assets/profileIcon.png') }}" onclick="navMenu_js()" alt="profile" width="30px" id="clickable" class="drop-button">


                    <div class="dropdown-list" id="dropdown-listID">
                        <div class="list-div"><ul><a href="/adminProfile">Profile</a></ul></div>
                        <div class="list-div"><ul><a href="/adminSetting">Setting</a></ul></div>
                        <div class="list-div"><ul><a href="/adminSignOut">Sign Out</a></ul></div>
                        <!-- <a href="/adminProfile">Profile</a>
                        <a href="/adminSetting">Setting</a>
                        <a href="/adminSignOut">Sign Out</a> -->
                    </div>

                </div>
            </div>
        </div>
        
    </nav>
    

    <div class="main-body">

        {% block body %}
            
        {% endblock %}

    </div>
    
    <footer class = "butt">
        <div class="foot">
            Copyright &copy TheBrokenStudios Private Limited. 2023 &nbsp &nbsp All Rights Reserved.
        </div>
    </footer>

</body>
</html>