<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    
    <form action="/action_page.php" method="post">

        <div class="l1">
          <span class = "stick">
            <label for="exampleFormControlInput1" class="username-label">Username</label>
          </span>
          <!-- <br> -->
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="l2">
          <span class="stick">
            <label for="inputPassword6" class="col-form-label">Password</label>
          </span>
          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          <br><br><br>
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              Must be 8-20 characters long.
            </span>
          </div>
        </div>
        <br><br>
        <!-- <button class="login">

          <!-- <input type="submit" class="login"> -->
          <!-- Login
        </button> -->
        <input type="submit" class="login" value="Login">



      </form>
</body>
</html>