<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel=”stylesheet” href="style.css"> -->
    <link href="style.css" rel="stylesheet">
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon">

    <title>Login</title>
</head>

<body class = "parent">
  <div class="top1">

    <div class="login">
    <h1>
      Manager Login Panel
    </h1>
    </div>

    <br><br>

    <div class = "main">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <br>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
      </div>
    </div>

    <br><br>

    

  </div>

  <div class = "separator">
    <h5>or</h5>
  </div>

  <div class="oauth">
    <button class="google">

    </button>
    <button class="microsoft">

    </button>
    <button class="apple">

    </button>
  </div>



<footer class = "butt">
  Sir100 &copy 2023 
  <br>
  All Rights Reserved.
</footer>

</body>
</html>

