<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel=”stylesheet” href="style.css"> -->
    <link href="lightStyle.css" rel="stylesheet" id="view">
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon">

    <title>Login</title>
</head>

<body class = "body">
  <script src="app.js"></script>

  <div class="parent">
    <div class="nav">
      <img src="assets/google.png" alt="logo" width="30px">
      <input type="search" class="searchBar">
      <div class="menuIcons">
        <img src="assets/cart.png" alt="cart image" width="20px" height="20px"> 
      </div>
    </div>
    <div class="top1">
  
      <div class="middle">
        <div class="login1">
          <h1>
            Manager Login Panel
          </h1>
        </div>
        <div class = "main">
  
          <div class="profileIcon">
            <img src="assets/profileIcon.png" alt="profile icon" width="40px" height="40px">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <br><br>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
  
          <br><br><br>
  
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Password</label>
            </div>
            <br>
            <div class="col-auto">
              <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <br>
            <div class="col-auto">
              <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
              </span>
            </div>
          </div>
  
          <br><br>
          <button class="login">
            Login
          </button>
        </div>
      </div>
      <br><br>
      <br><br>
    </div>
  
    <div class = "separator">
      or
    </div>
  
    <div class="oauth-flex">
      <button class="google">
        <img src="assets/google.png" alt="google icon" width="25px" height="25px">
        <!-- Google -->
        <!-- <a href="https://www.flaticon.com/free-icons/google" title="google icons">Google icons created by Freepik - Flaticon</a> -->
      </button>
      <button class="microsoft">
        <img src="assets/microsoft.png" alt="microsoft icon" width="25px" height="25px">
        <!-- Microsoft -->
      </button>
      <button class="apple">
        <img src="assets/apple.png" alt="apple icon" width="25px" height="25px">
        <!-- Apple -->
      </button>
    </div>
  
    <div class="lorem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem non, iure asperiores saepe dignissimos ex repudiandae doloribus, incidunt provident facilis perspiciatis. Commodi, natus expedita! Maxime modi vel repudiandae id. Laudantium!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque explicabo consequuntur quisquam quae quaerat ea assumenda eligendi velit ipsum ipsa est fugit voluptatem provident inventore esse dolorum, eos sint quidem!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi id nisi corporis inventore tempore nostrum recusandae perferendis molestias in sunt quam, deleniti architecto quas minus dolorum ex? Deleniti, nostrum recusandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus culpa expedita accusantium, magni architecto itaque praesentium minima! Quo consequuntur rem adipisci iure vero. Soluta beatae voluptas facilis iste, esse nobis?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque maxime amet pariatur ab itaque, voluptatibus quas est, recusandae quam eos rerum, quod hic error ipsam tempora consectetur ea. Voluptas, maxime?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, officia accusamus sequi recusandae porro deleniti nam veniam quae mollitia inventore eveniet a ipsa minus tempora voluptate eum impedit? Asperiores, voluptas.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet non quam, doloremque similique consectetur aliquid alias reprehenderit impedit quibusdam, sit accusantium modi? Veniam animi sapiente dicta maxime consequuntur dolorem suscipit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quae quam magni atque exercitationem necessitatibus natus quaerat aperiam ratione labore perspiciatis autem, ducimus ipsam animi temporibus unde nulla cupiditate nostrum.
  
    </div>

  </div>
  
<div class="tools">
  <div class="appearance">
    <div class="light" onclick="appearanceLight()">
      <!-- <button class="light" onclick="appearanceLight()">
        Light
      </button> -->
      Light
    </div>
    <div class="dark" onclick="appearanceDark()">
      <!-- <button class="dark" onclick="appearanceDark()">
        Dark
      </button> -->
      Dark
    </div>
  </div>
</div>
<div class="footSeparator" id="sep">
  <hr>
  <br>
</div>


<footer class = "butt">
  <div class="foot">
    Copyright &copy TheBrokenStudios Inc. 2023. All Rights Reserved.
  </div>
</footer>

</body>
</html>