{% extends "baseManagerUser.html" %}

{% block title %} 
Manager-Login
{% endblock %}

{% block body %}
    <h4>"This is Manager Login Page"</h4>

    <div class="login1">
        <h1>
        Manager Login Panel
        </h1>
    </div>
    
    <br>
    <div class = "main">

        <div class="profileIcon">
            <!-- <img src="assets/profileIcon.png" alt="profile icon" width="40px" height="40px" id="profileIcon"> -->
            <img src="{{ url_for ('static', filename='assets/profileIcon.png') }}" alt="profile icon" width="40px" height="40px" id="profileIcon">
        </div>
        <br>
        <div class="l1">
            <span class = "stick">
            <label for="exampleFormControlInput1" class="username-label">Username</label>
            </span>
            <!-- <br> -->
            <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <br><br>

        <div class="l2">
            <span class="stick">
            <label for="inputPassword6" class="col-form-label">Password</label>
            </span>
            <input type="password" name="passkey" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            <br><br>
            <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
            </div>
            
        </div>

        <br><br>
        <div class="submit">
            <button class="login">
                Login
            </button>
        </div>
    </div>
    
{% endblock %}

