{% extends "baseAdmin.html" %}

{% block title %} 
Admin Panel - Sales
{% endblock %}

{% block body %}
    <br><br>
    This is Sales Admin
    <br><br>
    <div class="dashboard-flex-container">
        {% for samaan in totalStocks %}
            <div class="dashboard-flex-items">
                <!-- {{loop.slno}} -->
                <!-- for looping the serial number -->
                {{samaan.itemName}}
            </div>
        {% endfor %}
    </div>
    <div class="dashboard">
        
    </div>
    <div class="interface">
            <!-- <img src="/static/assets/box.png" alt="box" width="40px" height="40px" > -->
            <!-- <h1>Roshan Ekka</h1> -->
        <!-- <button class="addItem" id="ass" >
            <div class="ss" id="rotateThis" onclick="rotate()">
                <img src="{{ url_for( 'static', filename='assets/plus.png')}}" alt="add button" height="50px" width="50px">
            </div> 
        </button> -->
        <button class="addItem" id="ass">
            <div class="ss" id="rotateThis" onclick="rotate()">
                <img src="{{ url_for( 'static', filename='assets/plus.png')}}" alt="add button" height="50px" width="50px">
            </div>
        </button>
        <div class="modal" id="mymodal">

            <div class="modal-content" id="ls">

                <span class="close">&times;</span>
                <br><br><br>
                <form action="/addItems" method="POST">
                    <div class="formContent">
                        <label for="item" class="modalForm">Category Name  : </label>  
                        <span class="placeholder">
                            <input type="text" name="itemNameform" id="item" placeholder="item name">
                        </span>
                    </div>
                    <br><br><br>
                    <!-- <input type="submit" class="login" value="Save"> -->
                    <!-- NOT NULL error -->
                    <button class="login">
                        Save
                    </button>
                </form>

                <br>
            </div>
        </div>
    </div>
{% endblock %}


