* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.body {
	background-image: url(assets/abstract.jpg);
}
.parent {
	background-color: silver;
	/* background-image: url(assets/bg.png);	 */
	/* background-size: auto; */



	font-size: 1500;
	align-content: center;

	border: 10px solid red;
	border-radius: 25px;

	margin: 30px 40px 40px 40px;

	padding: 0px 40px 40px 40px;
}

.top1 {

	background-color: #4E4FEB;
	background-color: #35A29F;
	border-width: 5px;
	border-style: ridge;
    opacity: 0.9;
	font-size: 1500;
	/* align-content: center; */

	/* border: 10px solid blue; */
	border-radius: 5px;

	margin: 10px 50px 10px 50px; 
	/* margin: auto; */

	/* padding: 50px 50px 50px 200px; */

}
.middle {
	/* align-content: center; */
	text-align: center;
}

/* .login {
	margin: auto;
} */
h1 {
	color: white;
	align-content: center;
}

.login1 {
	padding: 10px;
}

.login {
	background-color: #006ee6;
	padding: 10px 30px;
	/* border-radius: 10px; */
	border: none;
	border-radius: 20px;
	color: white;
	transition-duration: 10ms;


}

.login:hover {
	background-color: #006ee6;
	opacity: 0.9;
}

/*
.main {
	padding: 50px 50px 50px 50px;
	text-align: center;
}
*/

.profileIcon {
	padding: 10px;
}

.separator {
	/* align-content: center; */
	font: 40px;
	text-align: center;
	color: white;
	/* margin: 50px 50px 50px 50px; */
	/* background-color: aqua; */
}



/* login oauth buttons */

.oauth-flex {
	display: flex;
	flex-direction: row;
	background-color: violet;
	margin: 10px 50px 10px 50px; 

	border: solid blue;
	border-radius: 25px;


	/* align-content: center; */
	/* this has been depricated */

	justify-content: space-evenly;

	/* #SEEEE */
}

.google {
	padding: 10px;
	border-radius: 10%;
	color: white;
	font-size: 30px;
	background-color: orange;
	transition-duration: 0.2s;
}
.google:hover{
	opacity: 1;
	
	background-color: blue;
	
}


.microsoft {
	padding: 10px;
	border-radius: 10%;
	color: white;
	font-size: 30px;
	background-color: orange;
	transition-duration: 0.2s;
}
.microsoft:hover{
	opacity: 1;
	
	background-color: blue;
	
}


.apple {
	padding: 10px;
	border-radius: 10%;
	color: white;
	font-size: 30px;
	background-color: orange;
	transition-duration: 0.2s;
}
.apple:hover{
	opacity: 1;
	
	background-color: blue;
	
}

.lorem {
	columns: 3;
	column-gap: 40px;
	/* column-rule-width: 2px;
	column-rule-style: solid;
	column-rule-color: black; */

	column-rule: 2px solid black;
}
/* foot */


.butt {
	align-content: center;
	background-color: #FFBFBF;
	/* margin: 10px 50px 0px 50px;  */
	/* pasted code */
	
	 /* position: fixed;  */

	/* fixed should be used for top bar */
	left: 0;
	bottom: 0;
	width: 100%;
}

.foot {
	padding: 0.3%;
	text-align: center;
	/* margin: 0px 0px 0px 10px; */
}
